@model List<HistoryView>

@{
    ViewData["Title"] = "Transaction History";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-success text-white">
            <h3 class="mb-0">Transaction History</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>VoucherName</th>
                            <th>VoucherValue</th>
                            <th>VoucherPrice</th>
                            <th>Gift Card Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var transaction in Model)
                        {
                            <tr>
                                <td>@transaction.VoucherName</td>
                                <td>@transaction.VoucherValue</td>
                                <td>@transaction.VoucherPrice</td>
                                <td>@transaction.GiftcardCode</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>