@model Voucher
@{
    ViewData["Title"] = "NewProduct";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voucher Sales Report</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: beige; /* Set the background color for the entire page */
        }

        h1 {
            color: #007bff;
            text-align: center;
        }

        button {
            background-color: #28a745;
            color: #fff;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 20px;
            cursor: pointer;
            border-radius: 5px;
        }

            button:hover {
                background-color: #218838;
            }
    </style>
</head>

<body>
    <h1 style="text-align: center; margin-top: 25px ; margin-bottom: 35px">Check Out Our Latest Product</h1>

    <div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
        <div style="border: 7px solid #ddd; padding: 10px; margin: 10px; text-align: center; width: 450px;">
            <img src="@Model.VoucherLink" width="400px" height="400px" />
            <h4>@Model.VoucherName</h4>
            <p>Type: @Model.VoucherValue</p>
            <p>Price: @Model.VoucherPrice</p>
            <form method="post"><button asp-action="Index" asp-controller="Home">Buy Now</button></form>
        </div>
    </div>
</body>