
@{
    ViewData["Title"] = "Index";
}


<head>
    <meta charset="utf-8" />
    <title>Login Page</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: beige; /* Set the background color for the entire page */
        }

        .login-container {
            width: 300px;
            margin: 100px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            box-sizing: border-box;
        }

            input[type="submit"] {
                background-color: #4caf50;
                color: #fff;
                cursor: pointer;
            }
    </style>
</head>

<body>

    <div class="login-container">
        <h2>Admin Login</h2>
        <form method="post" asp-action="AdminHome" asp-controller="Admin">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required />

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />

            <input type="submit" value="Login" />
        </form>

        @if (ViewBag.ErrorMessage != null)
        {
            <script>
                alert("@ViewBag.ErrorMessage");
            </script>
        }
    </div>
</body>